
/* Main Photo */
.photo-01 {
  background: url("../../images/me.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 360px;
}

/* Timeline */
.timeline-01,
.timeline-02,
.timeline-03,
.timeline-04,
.timeline-05,
.timeline-06 {
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.timeline-01 {
  background: url("../../images/timeline/image-01.png");
  background-position: center;
  background-size: cover;
}

.timeline-02 {
  background: url("../../images/timeline/image-02.png");
  background-position: center;
  background-size: cover;
}

.timeline-03 {
  background: url("../../images/timeline/image-03.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.timeline-04 {
  background: url("../../images/timeline/image-04.jpg");
  background-position: center;
  background-size: cover;
}

.timeline-05 {
  background: url("../../images/timeline/image-05.png");
  background-position: center;
  background-size: cover;
}

.timeline-06 {
  background: url("../../images/timeline/image-06.png");
  background-position: center;
  background-size: cover;
}

.timeline-samuel-01,
.timeline-samuel-02,
.timeline-samuel-03,
.timeline-samuel-04 {
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.timeline-samuel-01 {
  background: url("../../images/layouts/samuel/timeline/01.jpg");
  background-position: center;
  background-size: cover;
}
.timeline-samuel-02 {
  background: url("../../images/layouts/samuel/timeline/02.jpg");
  background-position: center;
  background-size: cover;
}
.timeline-samuel-03 {
  background: url("../../images/layouts/samuel/timeline/03.jpg");
  background-position: center;
  background-size: cover;
}
.timeline-samuel-04 {
  background: url("../../images/layouts/samuel/timeline/04.jpg");
  background-position: center;
  background-size: cover;
}